.contact-title{
   font-size: 70px;
    color: white;
    font-weight: 700;
}
.contact-subtitle{
     font-size: 30px;
    color: white;
}
.icon{
    background-color: #BBD8FF;
    color: blue;
    padding: 10px;
    border-radius: 10px;  
}
 